@model FinalProject.Models.Entity.Servico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Servico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_serv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_serv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor_serv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor_serv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_serv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
