@model IEnumerable<FinalProject.Models.Entity.ServicoHistorico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.servicos.nome_serv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oqfoialterado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtAlteracao)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.servicos.nome_serv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oqfoialterado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtAlteracao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_servHist">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_servHist">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_servHist">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
